@import "../config/media-breakpoints";

.card {
	background-image: url("../images/card-bg.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom center;
	padding: 20px 30px 25px;
	text-align: center;
	max-width: 217px;
	box-shadow: 0 10px 20px 0 rgba(#000, 0.25);
	border-radius: 15px;
	position: relative;
	aspect-ratio: 0.72;
	margin: 0 auto;

	@include media-breakpoint-down(sm) {
		padding: 20px 10px 15px;
		background-position: center top;
	}

	&__ribbon {
		display: none;

		&.show {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-right: 6px;
			background-color: #ff4910;
			clip-path: polygon(20% 11%, 75% 0, 100% 100%, 0% 100%);
			width: 108px;
			height: 26px;
			position: absolute;
			transform: rotate(-45deg);
			top: 16px;
			left: -24px;

			&::before {
				content: "";
				position: absolute;
				background: linear-gradient(-84deg, transparent 0%, #dc2819 100%);
				clip-path: polygon(20% 11%, 75% 0, 100% 100%, 0% 100%);
				width: 96px;
				height: 20px;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
				z-index: -1;
			}
		}
	}

	&__image {
		height: 120px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 9px;

		@include media-breakpoint-down(xs) {
			height: 80px;
			margin-bottom: 6px;
		}
	}

	&__image-source {
		@include media-breakpoint-down(xs) {
			width: 80px;
		}
	}

	&__quantity {
		font-size: 30px;
		font-weight: 700;

		@include media-breakpoint-down(xs) {
			font-size: 16px;
		}
	}

	&__description {
		font-size: 14px;
		margin-bottom: 25px;

		@include media-breakpoint-down(xs) {
			font-size: 10px;
			margin-bottom: 6px;
		}
	}

	&__buy {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
		border-radius: 146px;
		cursor: pointer;
		transition: opacity 0.3s;
		font-weight: 700;
		position: relative;
		background: linear-gradient(to right, #682fbd 0%, #cb4cbc 100%);
		z-index: 1;

		&::before {
			content: "";
			position: absolute;
			background: linear-gradient(to right, #242333 0%, #3c3b53 100%);
			inset: 2px;
			border-radius: 146px;
			transition: opacity 0.3s;
		}

		&:hover {
			&::before {
				opacity: 0;
			}
		}

		@include media-breakpoint-down(xs) {
			padding: 5px 10px;
			font-size: 10px;
		}
	}

	&__buy-text,
	&__buy-price {
		z-index: 1;
	}

	.price {
		display: flex;
		align-items: center;
		margin-left: 20px;

		@include media-breakpoint-down(xs) {
			margin-left: 10px;
		}

		&__value {
			margin-left: 4px;
		}

		&__icon {
			@include media-breakpoint-down(xs) {
				width: 17px;
				height: 17px;
			}
		}
	}
}
