@import "../config/media-breakpoints";

.catalog {
	&__wrapper {
		width: 80%;
		margin: 10px auto 0;

		@include media-breakpoint-down(md) {
			width: 100%;
			padding: 0 40px;
		}

		@include media-breakpoint-down(sm) {
			padding: 0;
			margin-top: 0;
		}
	}

	&__tabs {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 10px;
		justify-content: space-between;

		@include media-breakpoint-down(sm) {
			background-color: #181723;
			margin-bottom: 11px;
			grid-gap: 0;
		}
	}

	&__tab {
		color: #9794c6;
		cursor: pointer;
		font-family: LeksaSansPro, sans-serif;
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		position: relative;
		transition: color 0.3s;

		&::before,
		&::after {
			content: "";
			width: 100%;
			height: 3px;
			position: absolute;
			bottom: 0;
			left: 0;
			background: linear-gradient(to right, #f52cbf 0%, #ff7c46 100%);
			opacity: 0;
			transition: opacity 0.3s;
			z-index: 1;
		}

		&::after {
			width: 76%;
			left: 50%;
			transform: translate3d(-50%, 0, 0);
		}

		&.active {
			color: #fff;

			&::before {
				opacity: 0.2;
			}

			&::after {
				opacity: 1;
			}

			.catalog__tab-inner {
				&::before {
					@include media-breakpoint-down(sm) {
						opacity: 0.1;
					}
				}
			}
		}

		@media (hover: hover) {
			&:hover {
				color: #fff;

				&::before {
					opacity: 0.2;
				}

				&::after {
					opacity: 1;
				}

				.catalog__tab-inner {
					&::before {
						@include media-breakpoint-down(sm) {
							opacity: 0.1;
						}
					}
				}
			}
		}

		@include media-breakpoint-down(sm) {
			word-break: break-word;
			font-size: 12px;
		}
	}

	&__tab-inner {
		position: relative;
		height: 100%;
		padding: 15px 0;
		background-color: #212031;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;

		&::before {
			content: "";
			background: linear-gradient(to top, #f52cbf 0%, transparent 100%);
			position: absolute;
			inset: 0;
			opacity: 0;
			transition: opacity 0.3s;
		}

		@include media-breakpoint-down(sm) {
			background-color: transparent;
		}
	}
}
