@font-face {
	font-family: LeksaSansPro;
	font-display: swap;
	src: url("../fonts/LeksaSansPro-Bold.woff2") format("woff2");
	font-weight: 700;
}

@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Regular.woff2") format("woff2");
	font-weight: 400;
}

@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Medium.woff2") format("woff2");
	font-weight: 500;
}

@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Bold.woff2") format("woff2");
	font-weight: 700;
}
